VITE_SUPABASE_URL=https://your-project-id.supabase.co
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key
VITE_NOTIFICATION_FUNCTION_URL=https://your-project-id.supabase.co/functions/v1/send-notification
VITE_AZURE_CLIENT_ID=fbd9dcb7-9786-4fae-babc-3b6bf3223d91
VITE_AZURE_TENANT_ID=8296a8b6-8602-4002-b7bc-d1a9319ff8f0
VITE_GET_REQUESTS_URL=https://erdapnuuhyanvqhxngnv.supabase.co/functions/v1/get-all-requests
VITE_DECIDE_URL=https://erdapnuuhyanvqhxngnv.supabase.co/functions/v1/decide-request